@media only screen and (min-width: 1200px) {}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .default-title h2 {
        font-size: 50px
    }
    .about_thumb:after {
        left: -15px;
        top: 15px;
    }
    .part-2 .about_thumb:after {
        left: auto;
        right: -15px;
        top: 15px;
    }
    .about_area .table {
        width: calc(100% - 30px);
    }
    .single_advisor_details_info {
        padding: 20px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .default-title h2 {
        font-size: 50px
    }
    .about_area .table {
        width: calc(100% - 30px);
    }
    .about_thumb:after {
        left: -15px;
        top: 15px;
    }
    .part-2 .about_thumb:after {
        left: auto;
        right: -15px;
        top: 15px;
    }
    .image_zoom_in>a {
        font-size: 16px;
    }
    .partner_slides .owl-item>img {
        padding: 10px;
    }
    .contact_address_area {
        margin-bottom: 30px;
    }
    .event_sidebar {
        margin-bottom: 50px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .default-title h2 {
        font-size: 30px;
    }
    .default-description>p,
    h2.default-description {
        font-size: 15px;
    }
    .about_thumb:after {
        left: 0;
        top: 0;
    }
    .part-2 .about_thumb:after {
        left: auto;
        right: 0;
        top: 0;
    }
    .about_area .table {
        position: relative;
    }
    .gallery_menu .portfolio-menu button {
        padding: 5px;
    }
    .single_gallery_item {
        width: 100%;
    }
    .contact_address_area {
        margin-bottom: 30px;
    }
    .inline-style .social_links_area>a {
        margin: 5px 10px;
    }
    .mean-container .mean-nav {
        top: 70px;
    }
    .text-typed .cd-headline {
        font-size: 30px;
    }
    .event_sidebar {
        margin-bottom: 50px;
    }
    .freelancer .welcome_text h2 {
        font-size: 30px;
    }
    .freelancer .welcome_text>p {
        font-size: 15px;
    }
    .xs-mt-30 {
        margin-top: 30px;
    }
    .about_area .part-2 {
        margin-top: 15px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .text-typed .cd-headline {
        font-size: 36px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .container {
        width: 550px;
    }
    .single_gallery_item {
        width: 50%;
    }
    .text-typed .cd-headline {
        font-size: 42px;
    }
    .freelancer .welcome_text h2 {
        font-size: 45px;
    }
    .freelancer .welcome_text>p {
        font-size: 18px;
    }
}